<div class="card-trip-index">
        <div class="card-trip-index-header">
          <%if trip.photo.attached?%>
            <%= link_to cl_image_tag(trip.photo.key), trip_path(trip.id), height: 200, width: 300, crop: :fill, class: "card-img-top" %>
          <%end %>
        </div>
        <div class="card-trip-index-body">
          <div class = "d-flex justify-content-between w-100">
            <% if trip.category.name == "Hike" %>
              <div><span class="tag-trip-category tag-dark"><%= trip.category.name %></span></div>
            <% elsif trip.category.name == "Swim" %>
              <div><span class="tag-trip-category tag-middle"><%= trip.category.name %></span></div>
            <% elsif trip.category.name == "Sightseeing" %>
              <div><span class="tag-trip-category tag-green"><%= trip.category.name %></span></div>
            <% elsif trip.category.name == "Walk" %>
              <div><span class="tag-trip-category tag-light"><%= trip.category.name %></span></div>
            <% end %>

            <% if trip.difficulty == "Easy" %>
              <div><%= image_tag "low.png", class: "difficulty" %>
              <p class= "hover-text" style="color: green">easy</p></div>
            <% elsif trip.difficulty == "Medium" %>
              <div><%= image_tag "medium.png", class: "difficulty" %>
              <p class= "hover-text" style="color: orange">medium</p></div>
            <% elsif trip.difficulty == "Hard" %>
              <div><%= image_tag "hard.png", class: "difficulty" %>
                <p class= "hover-text" style="color: red">hard!</p></div>
            <% end %>

          </div>

          <div>
            <small>Date: <%= trip.start_date.strftime("%m/%d/%Y") %> - </small>
            <small><%= trip.end_date.strftime("%m/%d/%Y") %></small>
          </div>
          <h4>
            <%= link_to trip.name, trip_path(trip.id) %>
          </h4>
          <p>
            <%= trip.description %>
          </p>
        </div>
        <div class="user-trip-index">
        <%# <img src="https://studyinbaltics.ee/wp-content/uploads/2020/03/3799Ffxy.jpg" alt="user" /> %>
          <% if trip.user.profile.profile_photo.attached? %>
            <%= cl_image_tag trip.user.profile.profile_photo.key, class: "avatar dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://www.slotcharter.net/wp-content/uploads/2020/02/no-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
              <%# <%= cl_image_tag trip.user.profile.profile_photo.key, class: "user-trip-index-img" %>
          <div class="user-index-info">
            <h5><%= link_to trip.user.profile.username, profile_path(trip.user.profile) %></h5>
            <small>Your Local Explorer</small>
          </div>

        </div>
      </div>
