<div class="card-trip-index">
  <div class="card-trip-index-header">
    <div>
      <%if trip.photo.attached?%>
        <%= link_to cl_image_tag(trip.photo.key), trip_path(trip.id), height: 200, width: 300, crop: :fill, class: "card-img-top" %>
      <%end %>
    </div>
     <div>
      <% if trip.capacity == trip.bookings.count %>
        <span class="tag-trip-category tag-booked">BOOKED !</span>
      <% end %>
    </div>
  </div>
  <div class="card-trip-index-body">
    <div class = "d-flex justify-content-between w-100">
        <div>
          <span class="tag-trip-category <%= category_tag(trip.category) %>"><%= trip.category.name %></span>
        </div>

        <%= render "trip_index_card_difficulty", trip: trip %>

    </div>

    <div>
      <small>Date: <%= trip.start_date.strftime("%m/%d/%Y") %> - </small>
      <small><%= trip.end_date.strftime("%m/%d/%Y") %></small>
      <br>
    </div>
    <h4>
      <%= link_to trip.name, trip_path(trip.id) %>
    </h4>
    <p>
      <%= trip.shortened_description %>
    </p>

  </div>
  <div class="user-trip-index">
  <%# <img src="https://studyinbaltics.ee/wp-content/uploads/2020/03/3799Ffxy.jpg" alt="user" /> %>
    <% if trip.user.profile.profile_photo.attached? %>
      <%= cl_image_tag trip.user.profile.profile_photo.key, class: "avatar dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
      <%= image_tag "https://www.slotcharter.net/wp-content/uploads/2020/02/no-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
        <%# <%= cl_image_tag trip.user.profile.profile_photo.key, class: "user-trip-index-img" %>
    <div class="user-index-info">
      <h5><%= link_to trip.user.profile.username, profile_path(trip.user.profile) %></h5>
      <small style="padding: 0;  font-style: italic;">Your Local Explorer</small>
    </div>

  </div>
</div>
