<div class="container-trip-index">
  <div style="width: 60%;">
    <div class="container-search-bar-trip-index">
      <%= form_with url: trips_path, method: :get, class: "d-flex search-bar-trip-index" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a trip"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
       <% end %>
    </div>
    <div class="container-trip-index-cards">
        <% @trips.each do |trip|  %>
          <%= render "index_card", trip: trip %>
        <%end %>
      </div>
  </div>


  <div class ="map-container-trips-index">
    <div style="width: 100%; height: 95vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="btn btn-success float-button">
    <%= link_to " + Create a trip", new_trip_path %>
  </div>

</div>
