<div>
  <div>
    <%if @trip.photo.attached? %>
      <%= cl_image_tag @trip.photo.key, height: 200, width: 300, crop: :fill %>
    <%end %>
    <%= @trip.name %>
    <%= @trip.category.name %>
    <%= @trip.description %>
    <%= humanized_money_with_symbol(@trip.price_cents) %>
    <h5>Location:</h5><p><%= @trip.address %></p>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<%= link_to "Delete", trip_path(@trip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Back to Trips", trips_path %>
