<div class="container-showtrip">
  <div class="card-showtrip">
    <% if @trip.photo.attached? %>
      <%= cl_image_tag @trip.photo.key%>
    <% end %>
    <div class="card-showtrip-info">
      <div>
        <h1><%= @trip.name %></h1>
        <br>
        <p>Category:</p>
        <%= @trip.category.name %>
        <br>
        <br>
        <p>Location:</p>
        <%= @trip.address %>
        <br>
        <br>
        <p>Description:</p>
        <%= @trip.description %>
      </div>
      <h2 class="card-showtrip-price"><%= humanized_money_with_symbol(@trip.price_cents) %></h2>
    </div>
  </div>




  <br>

  <div class="card-profiles-showtrip">
    <div class="card-profiles-info-showtrip">
      <h4>Profiles</h4>
      <p>Your Local Exporer:</p>
      <%= link_to @trip.user.profile.username, profile_path(@trip.user.profile.id) %>
      <%# <% raise %>
      <br>
      <br>
      <p>Your Tripmates:</p>
      <% if @trip.bookings.exists? %>
        <% @trip.bookings.map {|b|b.user}.map {|u| u.profile}.each do |profile|%>
        <%= link_to profile.username, profile_path(profile) %>
        <br>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if policy(@trip).edit? %>
    <%= link_to "Update trip", edit_trip_path %>
  <% end %>

  <% if policy(@trip).destroy? %>
    <%= link_to "Delete trip", trip_path(@trip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>

  <% if @trip.user == current_user && @chatroom %>
    <%= link_to 'open chat', chatroom_path(@chatroom), :class => "btn btn-primary" %>
  <% end %>


    <br>
    <br>
  <div class="form-button">
    <%= link_to "Back to Trips", trips_path %>
  </div>
    <br>
    <br>
    <%# <% raise %>
  <% if current_user.id != @trip.user.id %>
    <% if @trip.bookings.map {|b| b.user_id}.exclude?(current_user.id) %>
      <% if @trip.capacity > @trip.bookings.count %>
        <%= simple_form_for [@trip, @booking] do |f| %>
          <h4>Join us!</h4>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="map-container-showtrip">
  <div style="width: 60%; height: 400px; border-radius: 10px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



</div>

<br>
<br>
