<div class="body-overall-container" style="margin: 0; padding: 75px;">
  <h1 id="bookings-index-title">Your Bookings</h1>
    <div class="bookings-index-container">
      <% @bookings.each do |booking|  %>
      <div class="bookings-index-cards">
      <div class="booking-index-info">
        <h4><%= booking.trip.name %></h4>
        <p><%= booking.trip.start_date.to_date %> to <%= booking.trip.end_date.to_date %></p>
      </div>
      <div id="explorer-title-index-bookings"> <p>Your Explorer</p></div>
  <div class="explorer-card-bookings-index">
                  <% if booking.trip.user.profile.profile_photo.attached? %>
                    <%= cl_image_tag booking.trip.user.profile.profile_photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <% else %>
                    <%= image_tag "https://www.slotcharter.net/wp-content/uploads/2020/02/no-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                  <%= link_to booking.trip.user.profile.username, profile_path(booking.trip.user.profile.id) %>
                </div>
        <br>
        <div class="bookings-index-links">
          <%# <%= link_to "Review on Explorer", profile_path(booking.trip.user.profile)%>
          <%= link_to "More info", booking_path(booking)%>
          <%= link_to 'open chat', chatroom_path(booking.chatroom), :class => "btn btn-primary"%>
          </div>
      </div>
      <%end %>
    </div>
  </div>
