<h1>You just booked this trip!</h1>
<div>
  <p>
    <%= @booking.trip.name %>
  </p>
  <p>
    <%= @booking.trip.start_date %>
  </p>

  <p>
    <%= @booking.trip.end_date %>
  </p>



</div>
<br>
<%= link_to 'Discover Trips', trips_path(@trip), :class => "btn btn-primary" %>
<br>
<% if policy(@booking).destroy? %>
  <%= link_to "Delete booking", trip_booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
<br>
<%= link_to 'Show my Bookings', bookings_path(@booking), :class => "btn btn-primary" %>
<br>
