

<div class="background-landing-page">
 <%= video_tag "homevid.mov", autoplay: :autoplay, loop: :loop, muted: :muted, id: "banner_video"  %>
  <div class="container-welcome">
      <% if !user_signed_in? %>
        <h1>Welcome Explorer!</h1>
        <p>Be local anywhere</p>
    <div class="landing-page-parent">
      <div class="landing-page-buttons">
        <%= link_to "Login", new_user_session_path, class: "btn btn-success test-test" %>
          <br>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success test-test"%>
      </div>
    </div>
    <% elsif user_signed_in? && current_user.profile == nil%>
      <br>
      <h1 style="margin: 30px;">So excited to have you with us! Please create a Profile first!</h1>
      <%= link_to "Create a Profile", new_profile_path, class: "btn btn-success test-test"%>
    <% else %>
    <h1>Lets start your adventure!</h1>
     <div class="landing-searchbar">
        <div class="row justify-content-center">
          <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for your next destination"%>
              <%= submit_tag "Search", class: "btn btn-success" %>
          <% end %>
        </div>
    </div>
    <div class="landing-page-parent">
      <div class="landing-page-buttons">
        <%= link_to "Available trips", trips_path, class: "btn btn-success  test-test"%>
        <%= link_to "Create a trip", new_trip_path, class: "btn btn-success test-test"%>
      </div>
    </div>
  </div>
</div>


<% end %>
