<!DOCTYPE html>
<html>
  <head>
    <title>LocalExplorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <script src="https://kit.fontawesome.com/bf1a2e1da6.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('mountain-16.png') %>
  </head>

  <body class="body"><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <% unless request.fullpath == "/"%>
      <div class="body-container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
